<div *ngIf="game">
    <table style="width: inherit !important; height: inherit !important;">
        <tbody>
            <tr *ngFor="let j of range(0,game.height-1)">
                <td style="padding: 0px !important; border-radius: 0px !important;" (click)="onCellClick(i,j)" [attr.bgcolor]="isActiveCell(i,j)? '#2aff10' : 'black'"  width="5px" height="5px" *ngFor="let i of range(0,game.width-1)"></td>
            </tr>
        </tbody>
    </table>
</div>