<div class="container">
    <h4>Create your own board</h4>
    <div class="row">
            <div class="input-field col s12">
                    <select #t (change)="sizeChanged(t.value)">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="1">100x80</option>
                      <option value="2">80x40</option>
                      <option value="3">100x100</option>
                    </select>
                    <label>Choose size</label>
            </div>
    </div>
    <div class="row" *ngIf="game">
        <board [game]="game"></board>
    </div>

    <div class="row" *ngIf="game">
        <a (click)="onStartButtonClick()" class="waves-effect waves-light btn">Start</a>
    </div>
</div>
    